<div class="main-content">
  <ul class="nav nav-steps">
    <%= k(:navbar).section_for(:personal_info) %>
    ...
  </ul>
  <div class="main-content__user">
    <%= k(@user).full_name %>
  </div>
</div>
